body{
  background-color: #66ccff;
}
table{
  border:1px solid 000099;
  width: 500px;
  margin-top:180px;
  border-radius: 5px;
  background-color: rgba(255,204,102,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
table tr td{
  padding:15px;
  font-size: 16px;
}
button{
  float: right;
  width: 100px;
}